//⬇︎「DartSass3.0」以降では「@importではなく@useを使う」ことが推奨されています
@use './normalize.css'; //normalize.cssの内容を取り込む
//⬇︎Google FontsのPoppinsをインポート
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

////////////////スマホ用「モバイルファースト」で基本スタイルを記述していきます
html {
  font-size: 62.5%; /* 10px = 1rem */
  overflow-x: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-wrap: anywhere;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

span {
  font-size: 1.6rem;
  display: block;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 15%;
}

section.main {
  margin-bottom: 5%;
}

.inner {
  margin: 0 auto;
  padding: 20px;
}

.parts {
  width: 80%;
  margin: 0% auto;
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

////////////////⬇︎ローディングアニメーション完了後に「main-contentを表示する」
// .main-content {
//   visibility: hidden;
//   margin-top: 25vh;
// }

////////////////⬇︎ローディングアニメーション 四角のローディングアニメーション
// .loader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: #111;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   z-index: 1000;
//   .progress-bar {
//     width: 0%;
//     height: 8px;
//     background: #d9a779;
//     margin-bottom: 20px;
//   }
//   .progress-text {
//     color: #fff;
//     font-size: 18px;
//   }
//   .center-box {
//     position: fixed;
//     width: 120px;
//     height: 120px;
//     background: #4caf50;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(0);
//     opacity: 0;
//   }
//   .overlay {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%); /* 初期位置は中央 */
//     background: #4caf50;
//     opacity: 0;
//   }
// }

////////////////⬇︎ローディングアニメーション2 ブラインドのローディングアニメーション
.main-content {
  visibility: hidden;
  margin-top: 25vh;
}

// ブラインドローディング 上から下
.bl-loader {
  //⬇︎「.bl-loader」は“全画面にかぶさる茶色の幕”
  position: fixed;
  inset: 0; //fixedとセットで使う。inset:0;は“4方向すべてを0にする省略記法”。top:0; right:0; bottom:0; left:0;のこと。画面全体を覆うのに最適。
  z-index: 1000;
  background: #f0cebd;
  overflow: hidden;
  //⬇︎「.blind-container」はブラインドを並べる"棚"
  .blind-container {
    display: flex;
    flex-direction: column;
    // flex-direction: row-reverse; //⬅︎右から左方向へブラインドが縮んでいく。
    height: 100vh;
    overflow: hidden;
    .blind {
      flex: 1; //.blindの幅を均等に分配できる
      width: 100%;
      height: 100vh;
      background: #111;
      transform-origin: top center; //「上端の真ん中を基準に指でつまんで固定する。」下方向へ向かって縮んでいく
      //transform-origin: right center; //「flex-direction:row-reverseを付けると、右端から左方向へ向かって縮んでいく
    }
  }
}

// // ブラインドローディング 左から右
// .bl-loader {
//   position: fixed;
//   inset: 0;
//   z-index: 1000;
//   background: #f0cebd;
//   overflow: hidden;
//   .blind-container {
//     display: flex;
//     flex-direction: row;
//     height: 100vh;
//     overflow: hidden;
//     .blind {
//       flex: 1;
//       width: 100%;
//       height: 100vh;
//       background: #111;
//       transform-origin: left center; //左を支点に縮む。動きが「左→右」に見える
//     }
//   }
// }

////////////////⬇︎header
header.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  margin-bottom: 3%;
  padding: 1rem 2rem;
  background-color: #000;
  // background-color: #0000003b;

  h3.logo {
    a {
      font-size: 2.4rem;
      color: #fff;
      cursor: pointer;
    }
  }

  //⬇︎ハンバーガーメニュー
  .hamburger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    span {
      display: block;
      height: 3px;
      background: #fff;
      border-radius: 100px;
    }
    // &.active {
    //   span:nth-child(1) {
    //     transform: translateY(8px) rotate(45deg);
    //   }
    //   span:nth-child(2) {
    //     opacity: 0;
    //   }
    //   span:nth-child(3) {
    //     transform: translateY(-8px) rotate(-45deg);
    //   }
    // }
  }
  //⬇︎ハンバーガーメニュー 中身のnav
  // nav {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background: #d8bdb0;
  //   // transform: translateY(-100%);
  //   transform: translateX(100%);
  //   transition: transform 0.3s ease;
  //   z-index: 100;
  //   ul {
  //     list-style: none;
  //     padding: 0;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     li {
  //       margin-bottom: 15px;
  //       a {
  //         text-decoration: none;
  //         color: #000;
  //         font-size: 3rem;
  //         font-weight: bold;
  //       }
  //     }
  //   }
  //   //⬇︎JavaScriptで「navに.activeを付けた場合translateX(0)になりメニューが画面中央に戻る」
  //   &.active {
  //     // transform: translateY(0);
  //     transform: translateX(0);
  //   }
  // }

  //⬇︎GSAPのメニュー1 中身のnav
  nav.nav1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    transform: translateX(100%); //初期位置は右に隠す
    z-index: 100;
    ul {
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }
  }

  ////⬇︎GSAPのメニュー2 中身のnav「nav1とnav2が左右から出現する」
  nav.nav1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 75vh;
    background: #000;
    transform: translateX(100%); //初期位置は右に隠す
    z-index: 100;
    ul {
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }
  }
  nav.nav2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25vh;
    background: #f0cebd;
    transform: translateX(-100%); //初期位置は右に隠す
    z-index: 100;
    ul {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px 24px;

      width: 100%;
      text-align: left;
      list-style: none;
      margin: 0 auto;
      padding: 0 3%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
        // a {
        //   text-decoration: none;
        //   color: #000;
        //   font-size: 3rem;
        //   font-weight: bold;
        // }
      }
    }
  }
}

////////////////⬇︎animation.html
section.sec-main {
  margin-bottom: 10%;
}
h1.animate-title {
  font-size: 4rem;
  color: #000;
}
.main-section h1.animate-title:hover {
  transform: none;
}

////////////////section1 Tweenアニメーション
section.sec-tween-start {
  margin-bottom: 0;
}
section.tween {
  padding: 5% 0;
  position: relative;
  width: 100%;
  height: 70vh; //親要素で高さを明確に決定する。50vhか400pxなど。
  display: flex;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  .tween-area {
    width: 100%;
    height: 100%; //子要素に100%設定。親要素で明確に高さを決めているので有効になる
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%; //子要素に100%設定。親要素で明確に高さを決めているので有効になる
      object-fit: cover;
    }
    h1.headline {
      font-size: 8rem;
      position: absolute;
      top: 60%;
      left: 10%;
      color: #fff;
      z-index: 1;
      transform: translate(-10%, -70%);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }
  .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
  }
}

////////////////section2 スクラブアニメーション
.sec-scrub-start {
  margin-bottom: 0;
}
section.scrub {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .scrub-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background: url('@images/forest.jpg') no-repeat;
  }
  .scrub-title {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    z-index: 5;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    span {
      display: inline-block;
      font-size: 13rem;
      letter-spacing: 0.2em;
    }
  }
}

////////////////section3 スクラブアニメーション　文字が左右から出現
.sec-scrub2-start {
  margin-bottom: 0;
}
section.scrub2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10% 0;
  &.is-selected {
    color: #fff; //.is-selectedを付ける意味は「今どのセクションがアクティブか」分かりやすくするため。無くても動きます
  }
  .scrub-title {
    font-weight: bold;
    z-index: 5;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    h1.scrub-left {
      font-size: 7rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #000;
      margin-bottom: 3%;
    }
    h1.scrub-right {
      font-size: 7rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #000;
    }
  }
}

////////////////section4 SVGアニメーション
.sec-svg-start {
  margin-bottom: 0;
}
section.svg {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  padding: 10% 0;
  svg {
    width: 80%;
    height: auto;
    .char {
      fill: none; //最初は塗りなし
      stroke: white; //描かれていく「線の色」　purpleにすれば紫色の線になる
      stroke-width: 1.5; //線の太さ(1.5px)を指定します
      stroke-dasharray: 1000; //「線を破線にする設定」。「線を1000px描いて、1000px空けるを繰り返す破線」
      stroke-dashoffset: 1000; //「線を1000pxずらして全部非表示にする」
    }
  }
}

////////////////section5 SVGアニメーション ハート
section.stage {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  padding: 5% 0;
  position: relative;
  p.white {
    color: #fff;
    font-size: 1.8rem;
  }
  .relative1 {
    position: relative;
    svg.heart {
      width: 100px;
      height: auto;
      cursor: pointer;
    }
    .dot {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}

/////////////////SVGアニメーション ハート2
// section.stage2 {
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   background: #000;
//   padding: 5% 0;
//   position: relative;
//   p.white {
//     color: #fff;
//     font-size: 1.8rem;
//   }
//   .relative2 {
//     position: relative;
//     svg.heart2 {
//       width: 100px;
//       height: auto;
//     }
//     .dot2 {
//       position: absolute;
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       pointer-events: none;
//     }
//   }
// }

////////////////SVGアニメーション 星
section.stage3 {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  padding: 5% 0;
  position: relative;
  p.white {
    color: #fff;
    font-size: 1.8rem;
  }
  .relative3 {
    position: relative;
    svg.star {
      width: 80px;
      height: auto;
      cursor: pointer;
    }
    .dot3 {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}

////////////////SVGアニメーション ハート3
section.stage4 {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  padding: 5% 0;
  position: relative;
  p.white {
    color: #fff;
    font-size: 1.8rem;
  }
  .relative4 {
    position: relative;
    svg.heart4 {
      width: 80px;
      height: auto;
      fill: #f30a9e;
      transition: transform 0.2s ease;
      cursor: pointer;
    }
    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      // background: rgba(230, 6, 77, 0.5);
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
    .particle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      pointer-events: none;
    }
  }
}

////////////////section6 文章の末尾に「タイピングアニメーションの発火」
section.typing-anime {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  padding: 5% 0;
  position: relative;
  margin-bottom: 30%;
  p.white {
    color: #fff;
    font-size: 1.8rem;
  }
  .typing_text {
    color: #fff;
    span.ityped {
      display: inline;
      color: #fff;
      font-weight: bold;
      font-size: 6rem;
      overflow-wrap: anywhere;
    }
    span.ityped-cursor {
      display: inline;
      font-weight: bold;
      animation: blink 0.9s infinite; //点滅アニメーションのkeyframes使用
      animation-direction: alternate; //アニメーションを「行き→帰り」で往復させる
      font-size: 6.5rem;
      padding-left: 7px;
    }
  }
  //⬇︎点滅アニメーションのkeyframes
  @keyframes blink {
    0%,
    100% {
      opacity: 1; //0%と100%の時は「opacityが1」で表示される。
    }
    50% {
      opacity: 0; //50%の時は「opacityが0」が消える。
    }
  }
}

////////////////section7 段落が流れるように出現
section.paragraph {
  background: #000;
  padding: 5%;
  margin-bottom: 5%;
  &:last-of-type {
    margin-bottom: 25%;
  }
  h1.headline {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0;
    .rect {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: #fff;
      transform: translateX(-101%);
    }
    span.label {
      color: #fff;
      font-size: 3rem;
    }
  }

  .slideX {
    color: #fff;
    margin-top: 1%;
    margin-bottom: 2%;
    opacity: 0;
    transform: translateX(-50px);
  }

  .buttonGroup {
    display: flex;
    gap: 16px;
    background-color: transparent;
    .button {
      font-size: 1.6rem;
      color: #fff;
      border: 1px solid #fff;
      padding: 1% 2%;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
    }
    .slideX {
      margin-top: 0;
      // margin-bottom: 1%;
      opacity: 0;
      transform: translateX(-50px);
    }
  }
}

////////////////section8 小アニメーション
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000; /* 黒背景 */
  color: #fff;
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 40%;
      height: 40%;
      object-fit: cover;
      will-change: transform, opacity; /* GSAP向け */
    }
  }
  .scramble-text {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 3rem;
  }
  .sub-text {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 1.2rem;
    opacity: 0;
  }
}

////////////////section9 サイドバー追従
.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.area {
  display: flex;
  column-gap: 40x;
}
.area-heading {
  width: 30%;
}
// .area-heading-title {
// }
.area-box {
  background-color: #222;
  width: 50%;
  height: 600px;
}
.area-box p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.not-area {
  margin-top: 100px;
  background-color: blue;
  height: 1000px;
}
/* 追従に関するCSS */
.fixedArea {
  position: relative;
}
.fixedTitle {
  position: absolute;
}
.fixedTitle.is-fixed {
  position: fixed;
}

//////////section10 three.js 3Dアニメーション
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  .intro {
    width: 40vw;
    p.lighttext {
      font-weight: normal;
    }
  }
  #dog-area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 50vw; //vw
    height: 50vh; //vh
    background: #fff;
    border-radius: 12px;
    background-color: #97979770;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

//////////section11 three_test.js 3Dアニメーション_test
.container-test {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  .intro {
    width: 40vw;
    p.lighttext {
      font-weight: normal;
    }
  }
  #box-area-test {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 50vw; //vw
    height: 60vh; //vh
    background: #fff;
    border-radius: 12px;
    background-color: #97979770;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

//////////Footer
footer {
  color: #fff;
  background-color: #000;
  padding: 20px;
  text-align: left;
}

/* タブレット以上の場合 */
@media screen and (min-width: 768px) {
  body {
    font-size: 2.4rem; /* 24px */
  }

  .parts {
    margin: 0% auto;
    font-size: 2.4rem;
    width: 80%;
  }
  section.paragraph {
    background: #000;
    padding: 5%;
    margin-bottom: 5%;
  }
}
/* PC以上の場合 */
@media screen and (min-width: 1200px) {
  body {
    font-size: 2.4rem; /* 24px */
  }
  .parts {
    margin: 0% auto;
    font-size: 2.4rem;
    width: 80%;
  }
  section.main {
    margin-bottom: 5%;
  }
  section.paragraph {
    padding: 5% 2% 2%;
  }
}
