//⬇︎「DartSass3.0」以降では「@importではなく@useを使う」ことが推奨されています
@use './normalize.css'; //normalize.cssの内容を取り込む
//⬇︎Google FontsのPoppinsをインポート
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//////スマホ用「モバイルファースト」で基本スタイルを記述していきます
html {
  font-size: 62.5%; /* 10px = 1rem */
}

* {
  font-family: 'Poppins', sans-serif;
}

span {
  font-size: 1.6rem;
  display: block;
}

h1 {
  font-size: 2.4rem;
  // transition: all 0.3s;
  // &:hover {
  //   transform: translateX(50px);
  //   color: red;
  // }
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
}

section {
  margin-bottom: 15%;
}

.inner {
  margin: 0 auto;
  padding: 20px;
}

.parts {
  width: 80%;
  margin: 0% auto;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

//⬇︎header
header {
  width: 100%;
  margin-bottom: 3%;
  h3.logo {
    font-size: 2.4rem;
    cursor: pointer;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: aquamarine;
    color: #fff;
    background-color: #000;
    .hamburger {
      width: 30px;
      height: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        display: block;
        height: 3px;
        background: #fff;
        border-radius: 100px;
      }
    }
  }
}

////⬇︎animation.html
section.sec-main {
  margin-bottom: 10%;
}
h1.animate-title {
  font-size: 4rem;
  color: #000;
}
.main-section h1.animate-title:hover {
  transform: none;
}

//section0 基礎編
.animation-area {
  width: 100%;
}
.box {
  width: 150px;
  height: 150px;
}
.box1 {
  background-color: tomato;
  span {
    font-size: 2rem;
    display: block;
  }
}
.box2 {
  background-color: skyblue;
  span {
    font-size: 2rem;
    display: block;
  }
}

//section1 Tweenアニメーション
section.sec-tween-start {
  margin-bottom: 0;
}
section.tween {
  padding: 5% 0;
  position: relative;
  width: 100%;
  height: 70vh; //親要素で高さを明確に決定する。50vhか400pxなど。
  display: flex;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  .tween-area {
    width: 100%;
    height: 100%; //子要素に100%設定。親要素で明確に高さを決めているので有効になる
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%; //子要素に100%設定。親要素で明確に高さを決めているので有効になる
      object-fit: cover;
    }
    h1.headline {
      font-size: 8rem;
      position: absolute;
      top: 60%;
      left: 10%;
      color: #fff;
      z-index: 1;
      transform: translate(-10%, -70%);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }
  .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
  }
}

//section2 スクラブアニメーション
.sec-scrub-start {
  margin-bottom: 0;
}
section.scrub {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .scrub-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background: url('@images/forest.jpg') no-repeat;
  }
  .scrub-title {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    z-index: 5;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    span {
      display: inline-block;
      font-size: 13rem;
      letter-spacing: 0.2em;
    }
  }
}

//section3 スクラブアニメーション　文字が左右から出現
.sec-scrub2-start {
  margin-bottom: 0;
}
section.scrub2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  padding: 10% 0;
  &.is-selected {
    color: #fff;
  }
  .scrub-title {
    font-weight: bold;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    z-index: 5;
    overflow: hidden;
    text-align: center;
    h1.scrub-left {
      font-size: 7rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #000;
      margin-bottom: 3%;
    }
    h1.scrub-right {
      font-size: 7rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #000;
    }
  }
}

//section4 SVGアニメーション
.sec-svg-start {
  margin-bottom: 0;
}
section.svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
}

/* タブレット以上の場合 */
@media screen and (min-width: 768px) {
  body {
    font-size: 2.4rem; /* 24px */
  }
}

/* PC以上の場合 */
@media screen and (min-width: 1200px) {
  body {
    font-size: 2.4rem; /* 24px */
  }
}
